.visible {
  display: flex !important; }

h1, h2, h3, h4, h5, h6, p, div, ul, li, hr {
  padding: 0;
  margin: 0; }

a, a:hover, a:visited, a:link {
  text-decoration: none;
  color: white; }

html {
  font-size: 16px; }

body {
  background: #fff url("images/wood.png") repeat left top;
  font-family: 'Lato', sans-serif;
  color: #6b3b25;
  /*font-family: 'Arvo', serif;*/
  font-size: 62.5%;
  /* 10 xp */ }

#main {
  max-width: 1000px;
  width: 97%;
  height: auto;
  margin: 30px auto 80px;
  background-color: #dedad3; }

header {
  background: url("images/pattern.png") repeat top left;
  min-height: 155px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  header div#madison {
    height: 85px;
    max-width: 500px;
    margin-left: 1.5%; }
    header div#madison h1 {
      font-family: Myriad Pro, sans-serif;
      font-size: 8em;
      font-weight: 300; }
    header div#madison #subHeading {
      margin-top: -15px;
      height: 20px;
      width: 100%;
      padding-left: 6px; }
      header div#madison #subHeading .brownLine {
        display: block;
        border-top: 1px solid #6b3b25;
        width: 30px;
        float: left;
        margin-top: 8px; }
      header div#madison #subHeading h4 {
        font-size: 1.4em;
        font-weight: 200;
        float: left;
        margin: 0 5px; }
  header #social {
    width: 160px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin-right: 3%; }

div#navigation {
  width: 100%;
  height: 65px;
  position: relative;
  background-color: #e09402;
  background: linear-gradient(#f6a201, #f6a201 5%, #e09402 5%, #e09402 95%, #c78301 95%);
  box-shadow: 0 5px 0 #c6c2bc; }
  div#navigation #leftAngles {
    position: absolute;
    top: 0;
    left: -19px; }
  div#navigation #rightAngles {
    position: absolute;
    top: 0;
    right: -19px; }
  div#navigation ul.dropdown li {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); }
  div#navigation #hamburgerMenu {
    display: none; }
  div#navigation ul.dropdown {
    margin-left: 2.5%;
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 1.6em;
    max-width: 580px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 100%; }
    div#navigation ul.dropdown li {
      padding: 0 14px;
      margin: 0;
      height: 100%;
      line-height: 65px; }
      div#navigation ul.dropdown li ul {
        min-width: 277px;
        list-style-type: none;
        background-color: #62493d;
        padding-top: 3px;
        padding-bottom: 5px; }
        div#navigation ul.dropdown li ul .dropdownItemHr {
          height: 0;
          background-color: transparent;
          border: 0;
          border-bottom: 1px solid #806d63;
          width: 90%;
          margin: auto; }
        div#navigation ul.dropdown li ul li {
          line-height: 45px;
          text-shadow: none; }

/* ukrywanie dropdown menu */
.dropdown {
  position: relative; }
  .dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    margin-left: -14px; }

.dropdown li:hover {
  background-color: #62493d; }

.dropdown li:hover > ul {
  display: inherit; }

/* */
#cover {
  max-height: 500px;
  height: auto;
  padding: 40px 0; }
  #cover div {
    border: 5px solid white;
    max-height: 410px;
    height: auto;
    max-width: 930px;
    width: 93%;
    background-color: #d66c27;
    margin: auto;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05); }
    #cover div img {
      width: 100%;
      height: auto; }

#showcase {
  height: 812px;
  position: relative; }
  #showcase h2 {
    font-size: 3.6em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding: 0 3.5%; }
  #showcase #firstHr {
    height: 0;
    border: 0;
    border-top: 4px solid #6b3b25;
    width: 93%;
    margin: auto; }
  #showcase h4 {
    text-transform: uppercase;
    font-size: 1.8em;
    display: inline-block;
    margin-left: 3.5%;
    line-height: 45px;
    font-weight: 400;
    text-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, 0.8); }
  #showcase span {
    display: inline-block;
    font-size: 1.4em;
    position: absolute;
    right: 3.5%;
    line-height: 45px; }
  #showcase #secondHr {
    border: 0;
    border-top: 1px solid #6b3b25;
    width: 93%;
    margin: auto; }
  #showcase #works {
    width: 93%;
    margin: auto;
    margin-top: 32px;
    max-height: 580px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #showcase #works .work {
      max-width: 300px;
      position: relative;
      margin: 0 10px; }
      #showcase #works .work .feat {
        position: relative; }
        #showcase #works .work .feat img {
          border: 5px solid white;
          width: 97%;
          height: auto;
          z-index: 5;
          position: relative;
          box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05); }
        #showcase #works .work .feat .flip {
          width: 96%;
          height: 100%;
          transform: rotate(2deg);
          background-color: white;
          z-index: 2;
          position: absolute;
          top: 0;
          left: 5px;
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05); }
      #showcase #works .work h5 {
        font-weight: 700;
        margin: 20px 0 15px;
        font-size: 2.4em;
        text-transform: uppercase; }
      #showcase #works .work p {
        font-size: 1.6em;
        margin-bottom: 60px;
        letter-spacing: 0.015em; }
    #showcase #works .read {
      color: white;
      font-size: 1.4em;
      width: 90px;
      height: 30px;
      background-color: #e09402;
      text-align: center;
      line-height: 30px;
      border: 4px solid transparent;
      border-image: linear-gradient(#f6a201, #c98501);
      border-image-slice: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      box-shadow: 4px 4px 0 #cac7c1; }
  #showcase #works .work:nth-child(1) {
    margin-left: 0; }
  #showcase #works .work:nth-child(3) {
    margin-right: 0; }

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border-bottom: 3px solid #e09402; }
  #bottom .HRbold {
    height: 0;
    border: none;
    border-bottom: 0.1px solid #6b3b25; }
  #bottom h2.bottomh2 {
    display: inline-block;
    text-transform: uppercase;
    line-height: 45px;
    font-size: 1.8em;
    font-weight: 900; }
  #bottom #recent {
    border-top: 4px solid #6b3b25;
    height: 610px;
    max-width: 300px;
    width: 30%;
    overflow: scroll;
    position: relative;
    overflow: hidden; }
    #bottom #recent span#viewall {
      display: inline-block;
      position: absolute;
      right: 0;
      line-height: 45px;
      font-weight: 400;
      font-size: 1.4em; }
    #bottom #recent .post {
      border-bottom: 1px solid #b8a69a; }
      #bottom #recent .post h3 {
        color: #6b3b25;
        font-size: 2.1em;
        font-weight: 900;
        line-height: 25px;
        margin-top: 7px; }
      #bottom #recent .post h6 {
        color: #e09402;
        font-size: 1.4em;
        font-weight: 400;
        line-height: 30px; }
        #bottom #recent .post h6 span {
          font-weight: 900; }
  #bottom #video {
    border-top: 4px solid #6b3b25;
    height: 610px;
    width: 62%; }
    #bottom #video h3 {
      font-size: 2.1em;
      line-height: 2.4em; }
    #bottom #video p {
      font-family: 'Arvo', serif;
      font-size: 1.6em;
      font-color: #6b3b25;
      letter-spacing: 0.015em; }
    #bottom #video #movie {
      margin-top: 5px;
      width: 100%; }

footer {
  background: url("images/pattern1.png") repeat top left;
  max-height: 330px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative; }
  footer #notsobottom {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    margin: auto; }
    footer #notsobottom div {
      box-sizing: border-box;
      width: 33%;
      height: 240px;
      padding-right: 5px;
      line-height: 2.1em; }
      footer #notsobottom div h2 {
        margin-top: 25px;
        color: #e09402;
        text-transform: uppercase;
        font-size: 1.8em;
        font-weight: 400;
        line-height: 2.4em;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5); }
      footer #notsobottom div p {
        font-family: 'Arvo', serif;
        color: white;
        font-size: 1.4em;
        color: #e7d7ba;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5); }
  footer #verybottom {
    background: url("images/pattern2.png") repeat top left;
    width: 100%;
    height: 75px;
    position: relative; }
    footer #verybottom span {
      display: inline-block;
      width: 100%;
      line-height: 75px;
      color: #e09402;
      text-align: center;
      font-size: 1.4em;
      text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5); }
    footer #verybottom .shadown {
      background-color: transparent;
      width: 250px;
      height: 15px;
      position: absolute;
      box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.23);
      z-index: -1; }
    footer #verybottom #shadowLeft {
      top: 54px;
      left: 0;
      transform: rotate(-3deg); }
    footer #verybottom #shadowRight {
      top: 54px;
      right: 20px;
      transform: rotate(3deg); }
  footer #pointbox {
    cursor: grab;
    width: 46px;
    height: 28px;
    margin: -28px auto 0;
    background-color: #543f34; }
    footer #pointbox #arrowup {
      width: 0;
      height: 0;
      border-left: 23px solid transparent;
      border-right: 23px solid transparent;
      border-bottom: 13px solid #543f34;
      margin: -13px auto 0; }
    footer #pointbox img {
      display: block;
      margin: auto; }

/*# sourceMappingURL=large.css.map */
